# Ignore boilerplate directories
__pycache__
.vscode
.idea/*

# Ignore train.json to circumvent Git LFS issues
model_training/datasets/train.json
model_training/datasets/test.json
model_training/datasets/sample_input.json

# Ignore new kernel directory for now
staging

# Ignore environment files
.env/*
*.env*
*.venv*
.venv
*venv*

# Ignore pulled model
app/services/ml_service/pii_ner_pretrained_sm_spacy
app/services/ml_service/deberta3base_1024
tests/pii_ner_pretrained_sm_spacy
model_training/models/deberta3base_1024
model_training/models/spacy/config.cfg