spacy
spacy-transformers==1.3.4
numpy
matplotlib
seaborn
tqdm
psycopg2-binary
ipykernel
boto3
transformers==4.36.2
scikit-learn
pytest
moto
sqlalchemy
Flask
python-dotenv
datasets
accelerate
evaluate
seqeval
gunicorn