@media (max-width: 1000px) {  /* Adjust 600px to your specific threshold */
    .text-center a img.img-fluid.img-fixed-below-threshold {
        max-width: none;  /* Remove the max-width property */
        width: 200px;     /* Set a fixed width */
        height: auto;     /* Maintain aspect ratio */
    }
}

@media (min-width: 1001px) {  /* Adjust 600px to your specific threshold */
    .text-center a img.img-fluid.img-fixed-below-threshold {
        width: 17%;     /* Set a fixed width */
    }
    #documentAccordion, #document-viewer {
        max-width: 80%;
    }
}

.mb-3 { /* Container class */
    max-width: 95%; /* Restricts maximum width */
    margin: 0 auto; /* Centers the container */
    margin-top: 1.25%;
}

.form-control {
    width: 100%;         /* Ensures the textarea takes full width of its container */
    box-sizing: border-box; /* Ensures padding doesn't add to the total width */
}

.highlight {
    color: red;
}

.token {
    display: inline;
}

#documentAccordion, #document-viewer {
    max-width: 95%;
    margin: 0 auto; /* Centers the container */
    margin-top: 1.25%; /* Specific to #documentAccordion */
}

#spinner {
    margin-top: 1%; /* Specific to #documentAccordion */
}

.modal-dialog-centered {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: calc(100vh - 1rem);  /* Adjust the '1rem' if you have additional margins/paddings */
}

.modal-dialog {
    margin: 0 auto;
    float: none;  /* Ensures it doesn't float and uses flex alignment instead */
}

.highlight { color: red; }

.token {
    cursor: pointer;
    position: relative;
    /*margin: 2px;*/
    display: inline-block;
}

.normal {
    background-color: white;
}

.dropdown {
    width: 200px;
    top: 100%;
    left: 0;
    position: absolute !important;
    z-index: 100; /* Ensure it's above other content */
    background: white;
    border: 1px solid #ccc;
    display: none; /* Start hidden */
    box-shadow: 0 4px 8px rgba(0,0,0,0.1); /* Optional: Adds shadow for better visibility */
    padding: 5px;
    display: none;
}

.dropdown button {
    padding: 5px;
    width: 100%;
    border: none;
    text-align: left;
    background: none;
}

.active-token {
    background-color: #e6f7ff;
    position: relative;
}

.active-label {
    color: black;
    font-weight: bold;

}

.header {
    background-color: #f8f9fa;
    padding: 10px 20px;
    margin-bottom: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.header .title {
    font-size: 24px;
    font-weight: bold;
}

.header .user-info {
    font-size: 18px;
}

.header .user-info a {
    text-decoration: none;
    color: #007bff;
    margin-left: 10px;
}

.header .user-info a:hover {
    text-decoration: underline;
}

.alert{
    padding: 0 !important;
    margin: 0 !important;
}