<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>PII Detection Service</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.3.3/css/bootstrap.min.css">
</head>

<body>

    <div class="container">

      <div class="sidebar">
        <h2>Previous documents</h2>
        <ul id="document-list">

        <!-- Document items will be dynamically added here -->
        </ul>

        <button class="button" onclick="newDocument()" id='new-document-btn'>New Document</button>
      </div>

      <div class="main">
        <textarea id="document-viewer" placeholder="Select a document to view its contents..."></textarea>
      </div>

    </div>
    </div>

    <div class="button-container">
        <!-- Save button -->
        <button class="button" id ='save-btn' onclick="saveOrCreate()">Save</button>
        <!-- Verify button -->
        <button class="button verify-button" id='verify-btn' onclick="saveOrCreate()">Verify</button>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="{{ url_for('static', filename='scripts.js') }}"></script>

</body>
</html>